@model Tuple<BlogPost, PagedList<Comment>>

@{var pagedList = Model.Item2;
var post = Model.Item1;}

<div id="comments">
    @foreach (var item in pagedList)
    {
        <div>
            <p>
                /*todo: implement user*/ commented at @item.CreatedDate
            </p>

            <div id="comment-@item.Id" class="display-area">
                @item.Content.ToSafeMarkdown()
            </div>

            <div>
                @if (@User.HasActionPermission(Request.RequestContext, "Edit"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    @:|
                }

                @if (@User.HasActionPermission(Request.RequestContext, "Delete"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </div>
        </div>
    }

    <p>Paging</p>

    @Html.Partial("Pager", new Tuple<IPagedList, string, string>(pagedList, "CommentsByPost", "comments"))
</div>
