@model DomeApp.Models.BlogPost

@{
    ViewBag.Title = "Delete a post";
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>

<p>Are you sure you want to delete <b>@Model.Title</b>?</p>

<div>
    @Html.DisplayNameFor(model => model.Content)
    @Html.DisplayFor(model => model.Content)
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="pull-right">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary active" })
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
}
