@model DomeApp.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<p>
    @Html.DisplayFor(m => m.Title)
</p>

<div>
    @Model.Content.ToSafeMarkdown()
</div>

<div>
    @if (@User.HasActionPermission(Request.RequestContext, "Edit"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }

    @Html.ActionLink("Back to List", "Index")
</div>

<div id="postComments">
    @Html.Action("CommentsByPost", "Comment", new { postId = Model.Id })

    <p> Create a comment:</p>
    @Html.Action("Create", "Comment", new { postId = Model.Id })
</div>

