@model PagedList<BlogPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get" action="@Url.Action("Index")"
      data-dome-ajax="true" data-dome-target="#posts">
    <input type="text" name="search" data-dome-autocomplete="@Url.Action("Autocomplete")" />
    <input type="submit" value="@DomeApp.Views.Resources.search" />
</form>

@Html.Partial("PostSummary", Model)
