@model PagedList<BlogPost>


<div id="posts">
    @foreach (var item in Model)
    {
        <div>
            <p>@Html.DisplayFor(m => item.Title)</p>

            <div>
                @item.Excerpt.ToSafeMarkdown()
            </div>

            <p>@((item.Comments ?? Enumerable.Empty<Comment>()).Count()) comments<p>

            <div>
                @if (@User.HasActionPermission(Request.RequestContext, "Edit"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                }

                @Html.ActionLink("Read Further", "Details", new { id = item.Id })

                @if (@User.HasActionPermission(Request.RequestContext, "Edit"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </div>
        </div>
    }

    @Html.Partial("Pager", new Tuple<IPagedList, string, string>(Model, "Index", "posts"))
</div>
