@model PagedList<BlogPost>


<div id="posts" class="list-group">
    @foreach (var item in Model)
    {
        <div class="list-group-item">
            <a class="page-header" href="@Url.Action("Details", new { id = item.Id })">
                <h3>@Html.DisplayFor(m => item.Title)</h3>
            </a>

            <div class="well">
                @item.Excerpt.ToSafeMarkdown()
            </div>

            <div>

                <a href="@Url.Action("Details", new { id = item.Id })#postComments">
                    <span class="glyphicon glyphicon-comment text-left"></span>
                    @((item.Comments ?? Enumerable.Empty<Comment>()).Count()) comments
                </a>
                <div class="input-group input-group-lg pull-right">
                    <div>
                        @Html.ActionLink("Read more", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    }

    @Html.Partial("Pager", new Tuple<IPagedList, string, string>(Model, "Index", "posts"))
</div>
