<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - DomeApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/bundles/bootstrap_css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <a class="sr-only" href="#body">Skip to main content</a>
    <header class="navbar navbar-static-top navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-to-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DomeApp", "Index", "BlogPost", null, new { @class = "navbar-brand" })
            </div>
            <nav class="collapse navbar-collapse bs-to-collapse nav-justified" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                    <li @(ViewContext.RouteData.Values["Action"] == "Index" ? "class='active'" : "")>@Html.ActionLink("Blog posts", "Index", "BlogPost")</li>
                    <li @(ViewContext.RouteData.Values["Action"] == "About" ? "class='active'" : "")>@Html.ActionLink("About", "About", "Home") </li>
                    <li @(ViewContext.RouteData.Values["Action"] == "Contact" ? "class='active'" : "")>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </nav>
        </div>
    </header>
    @*<div class="jumbotron">
        @RenderSection("featured", required: false)
    </div>*@
    <div id="body" class="container">
        <section id="mainContent">
            @RenderBody()
        </section>
    </div>
    <footer class="navbar navbar-inverse">
        <div class="container">
            <p class="navbar-text">&copy; @DateTime.Now.Year - Daniel Andreș</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/domeapp")
    @Scripts.Render("~/bundles/bootstrap_scripts")
    @RenderSection("scripts", required: false)
    @{Html.RenderPartial("GoogleAnalytics");}
</body>
</html>
