@model ICollection<DomeApp.Models.ExternalLogin>

@if (Model.Count > 0)
{
    <p>Registered external logins</p>
    @foreach (DomeApp.Models.ExternalLogin externalLogin in Model)
    {
        @Html.Display(externalLogin.ProviderDisplayName)
        @if (ViewBag.ShowRemoveButton)
        {
            using (Html.BeginForm("Disassociate", "Account"))
            {
                @Html.AntiForgeryToken()
                <div>
                    @Html.Hidden("provider", externalLogin.Provider)
                    @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                    <input type="submit" value="Remove" title="Remove this @externalLogin.ProviderDisplayName credential from your account" />
                </div>
            }
        }
        else
        {
            @: &nbsp;
        }
    }
}
