@model DomeApp.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>

<p>@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <p>Add an external login</p>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
