<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - DomeApp</title>
    <meta name="viewport" content="width=device-with, initial-scale=1.0" />
    @Styles.Render("~/bundles/bootstrap_css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <a class="sr-only" href="#body">Skip to main content</a>
    <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="row">
                @Html.ActionLink("DomeApp", "Index", "BlogPost", null, new { @class = "navbar-brand col-xs-3 col-sm-3 pull-left" })

                <div class="col-xs-9 col-sm-9 pull-right">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderToCollapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <nav class="collapse navbar-collapse navHeaderToCollapse">
                        <ul class="nav navbar-nav navbar-right">
                            @Html.Partial("_LoginPartial")
                            <li class="@(ViewContext.RouteData.Values["Action"] == "Index" ? "active" : "")">@Html.ActionLink("Blog posts", "Index", "BlogPost")</li>
                            <li class="@(ViewContext.RouteData.Values["Action"] == "About" ? "active" : "")">@Html.ActionLink("About", "About", "Home") </li>
                            <li class="@(ViewContext.RouteData.Values["Action"] == "Contact" ? "active" : "")">@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="jumbotron">
        @RenderSection("featured", required: false)
    </div>
    <div id="body" class="container">
        <section id="mainContent" class="container">
            @RenderBody()
        </section>
    </div>
    <footer class="navbar navbar-inverse">
        <div class="container">
            <p class="navbar-text">&copy; @DateTime.Now.Year - Daniel Andreș</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/domeapp")
    @Scripts.Render("~/bundles/bootstrap_scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
