<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - DomeApp</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/bootstrap_css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <p>@Html.ActionLink("DomeApp", "Index", "BlogPost")</p>
        <section id="login">
            @Html.Partial("_LoginPartial")
        </section>
        <nav>
            <p>
                @Html.ActionLink("Blog posts", "Index", "BlogPost")
                @Html.ActionLink("About", "About", "Home")
                @Html.ActionLink("Contact", "Contact", "Home")
            </p>
        </nav>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section id="mainContent">
            @RenderBody()
        </section>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Daniel Andreș</p>
    </footer>

    @Scripts.Render("~/bundles/domeapp")
    @Scripts.Render("~/bundles/bootstrap_scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
