@model Tuple<IPagedList, string, string>

@{
    var pagedList = Model.Item1;
    var navigatePage = Model.Item2;
    var updateTarget = Model.Item3;
}

<div class="pager" data-domeapp-target="#@updateTarget" data-domeapp-pager="@Url.Action(navigatePage)">
    @if (pagedList.HasPreviousPage)
    {
        @Html.ActionLink("Previous page", navigatePage, new { toPage = pagedList.CurrentPage - 1 }, new { @class = "pager" })
    }

    Page @pagedList.CurrentPage of @pagedList.TotalPages

    @if (pagedList.HasNextPage)
    {
        @Html.ActionLink("Next page", navigatePage, new { toPage = pagedList.CurrentPage + 1 }, new { @class = "pager" })
    }
</div>